@model List<Cliente>

    <h1>Clientes</h1>
    @if (Model == null || Model.Count == 0)
{
    <text>No hay ningún cliente registrado</text>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descuento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@Html.ActionLink(@cliente.Nombre, "Detalles", new { id = cliente.Id})</td>
                    @*<td>@cliente.MembershipType.DiscountRate%</td>*@
                </tr>
            }
        </tbody>

    </table>

       
}

